<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<style type="text/css">
.auto-style1 {
margin-bottom: 0px;
}
</style>
</head>
<body style="margin: 0; height: 100%; width: 100%; background-color: #000000; overflow: hidden;">
<table align="center" cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; position: relative;">
<tr>
<td>
<object id="flash2" data="hey.swf" style="position: relative; height: 100%; width: 100%;" type="application/x-shockwave-flash" class="auto-style1">
<param name="movie" value="hey.swf">
<param name="quality" value="High">
<param name="wmode" value="transparent">
<param name="bgcolor" value="#000000">
</object>
</td>
</tr>
</table>
</body>
</html>